<section id="about" class="feature">
    <br/>
        <% if @item[:subheader] %>
            <h4 style="text-align: center"><%= @item[:subheader] %></h4>
        <% end %>
    <br/>
    <br/>
    <div class="row">
        <div class="large-12 columns" data-anchor-target="#_about">
            <blockquote>
                <p data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)">Algorithms have crept into every nook and corner of our lives. Whether it be buying groceries, finding a doctor, or planning a vacation.</p>

                <p data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)">The ways in which algorithms can shape our world is limited only our collective imagination, and as data science practitioners, we play a large part in making that happen. This meeting is a platform to bring together practicing data science practitioners, to share our experiences, thoughts and vision, as we move into an algorithm driven world.</p>

                <p id="_about" data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)">We believe this meeting (and the meetings that may follow) will help sow the seeds for mind-opening discussions and interesting collaborations.</p>
            </blockquote>
        </div>
    </div>
</section>
