<footer id="footer" class="feature">
    <div class="row">
        <div class="large-12 columns">
            <p><small>
                <a href=".">Yottabyte X</a> sponsored by
                <a rel="nofollow" target="_blank" href="//thoughtworks.com">ThoughtWorks</a><br />
            </small></p>
        </div>
    </div>
</footer>
