<section id="participate" class="feature">
        <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
            <h2>Participate</h2>
            <div class="large-12 columns social form-container" data-anchor-target="#_participant">
                <% if @item[:participate] %>
                <iframe src="<%= @item[:participate]%>" width="760" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                <% end %>
            </div>
        </div>
</section>
